body {font-family: Arial, Helvetica, sans-serif;}


.navbar-header{
    padding-top:5px;
}

.navbar.navbar-default {
    background-color: #01A101;
    border-color: #01A101;
    border-radius:0px;
}

.nav.SCVNav.navbar-nav>li>p{
    color:white;
    font-size:10px;
    padding-left:30px;
    padding-top:18px;
}

.backToSF{
       color:white;
       font-size:10px;
       float:right;
       padding-top:18px;
}

.floatLeft { width: 50%; float: left; }
.floatRight {width: 50%; float: right; }
.container { overflow: hidden; }


#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.search-container {
  float: right;
  padding-left:180px;
}

input[type=text] {
      padding: 5px;
      margin-top: 2px;
      font-size: 16px;
      border: none;
      width:300px;
    }

.search-container button {
      float: right;
      padding: 5px 10px;
      margin-top: 2px;
      margin-right: 16px;
      background: #ddd;
      font-size: 15px;
      border: none;
      cursor: pointer;
    }

.search-container button {
    padding: 9.7px;
  }

.search-container button:hover {
      background: #ccc;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #f3f3f3;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #1b1a1a;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 25px;
        margin-left: 50px;
    }

    #main {
        transition: margin-left .5s;
    }

    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }

 #records, #records1, #records2{
        border-collapse: collapse;
        width: 30%;
        background: #fff;
    	font-size:12px;
    }
    #records th, #records td, #records1 th, #records1 td, #records2 th, #records2 td{
    	border: 1px solid #d6d6d6;
		padding: 10px;
    }
    #records th, #records1 th, #records2 th{
        background-color: #4CAF50;
        color: #fff;
    }
    #records tr:nth-child(odd), #records1 tr:nth-child(odd), #records2 tr:nth-child(odd){
        color: #000000;
        background-color: #e7e7e7;
    }
    #details, #serviceDetails, #serviceActivities{
    	padding-left:20px;
    }

    #contactHeader, #contcId, #ServiceIdHeader, #serviceId,{
        display:none;
    }