<!doctype html>
<html th:fragment="layout (template, menu)" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Ashwin - Heroku</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>
<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/12/Nuffield-Health.png" alt="Nuffield Health" width="100" height="45"/>
            </div>
            <ul class="nav navbar-nav SCVNav">
                <li><p href="#">Single Customer View</p></li>
            </ul>
            <form class="navbar-form navbar-left" action="/action_page.php">
                <div class="search-container">
                    <form action="/action_page.php">
                        <input type="text" placeholder="Search.." name="search"/>
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </form>
            <a class="backToSF" href="https://nuffieldhealth-crm--scv--c.cs85.visual.force.com">Back To Salesforce SCV</a>
        </div>

    </nav>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
