<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="../js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<script>
var app = angular.module('MyApp',[]);
var mytestvar;
var mytestvar1;

    //Contact Information App
    app.controller('myController',['$scope',function($scope) {
    $scope.ContactData =  Visualforce.remoting.Manager.invokeAction(
        '{!$RemoteAction.SCVRemoting.getContacts}',
         function(result, event) {
             $scope.$apply(function() {
                console.log(result);
                $scope.ctdata = result;
                mytestvar = result;
            });
         });
 }]);
    //Services by contactId App

    app.controller('myController1',['$scope',function($scope) {
     $scope.ServicesData =  Visualforce.remoting.Manager.invokeAction(
        '{!$RemoteAction.SCVRemoting.getServicesByContactId}', '0036E00000PyKfjQAF',
         function(result, event){
             $scope.$apply(function() {
                console.log(result);
                $scope.svdata = result;
                mytestvar1 = result;
            });
         });
 }]);

/*function serviceDetails() {
       var val;
       val = document.getElementById('serviceId').innerText;
       alert('Id --->'+val);
       }*/

/* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
}

    function getRecordsDetails()
        {
            var fName = document.getElementById("firstName").value;
            var lName = document.getElementById("lastName").value;
            Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.SCVRemoting.getContactsByName}',
                fName, lName,
                function(result, event){
                    if (event.status){
                        var l = result.length;
                        if(l==0)
                        {
                            document.getElementById("details").innerHTML='<p>No Results!</p>';
                        }
                        else{
                                   document.getElementById("details").innerHTML='<p>Personal Details</p>';
                            var markup ='<table id="records">';
                            markup += '<h6>Personal Details</h6><tr><th>Name</th><th>Date of Birth</th><th id=contactHeader>Contact Id</th><th>Email</th></tr>';
                            for(var i=0; i<l;i++)
                            {

                                var recordDetail = '<tr>' +
                                    "<td onclick=getServiceFromContact(contcId)>" +result[i].Name + "</td>" +
                                    "<td>" + result[i].Birthdate + "</td>" +
                                    "<td id=contcId>" + result[i].Id + "</td>" +
                                    "<td>" + result[i].Email + "</td>" +
                                    '</tr>';
                                markup += recordDetail;
                            }
                            document.getElementById("details").innerHTML = markup;
                        }
                    }
                    else if (event.type === 'exception') {
                        document.getElementById("details").innerHTML = event.message + "<br/>\n<pre>" + event.where + "</pre>";
                    }
                    else{
                        document.getElementById("details").innerHTML = event.message;
                    }
                },
                {escape: true}
            );
        }

            function getServiceFromContact()
        {
            var conId = document.getElementById("contcId").innerText;
            Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.SCVRemoting.getServicesByContactId}',
                conId,
                function(result, event){
                    if (event.status){
                        var l = result.length;
                        if(l==0)
                        {
                            document.getElementById("serviceDetails").innerHTML='<p>No Services Found!</p>';
                        }
                        else{
                                   document.getElementById("serviceDetails").innerHTML='<p>Service Details</p>';
                            var markup ='<table id="records1">';
                            markup += '<h6>Service Details</h6><tr><th>Product Name</th><th>Name</th><th>Status</th><th id=ServiceIdHeader>Service Id</th><th>Product Description</th></tr>';
                            for(var i=0; i<l;i++)
                            {

                                var recordDetail = '<tr>' +
                                    "<td onclick=getActivitiesFromService()>" +result[i].Product_Name__c + "</td>" +
                                    "<td>" +result[i].Name + "</td>" +
                                    "<td>" + result[i].Status__c + "</td>" +
                                    "<td id=serviceId>" + result[i].Id + "</td>" +
                                    "<td>" + result[i].Product_Description__c + "</td>" +
                                    '</tr>';
                                markup += recordDetail;
                            }
                            document.getElementById("serviceDetails").innerHTML = markup;
                        }
                    }
                    else if (event.type === 'exception') {
                        document.getElementById("serviceDetails").innerHTML = event.message + "<br/>\n<pre>" + event.where + "</pre>";
                    }
                    else{
                        document.getElementById("details").innerHTML = event.message;
                    }
                },
                {escape: true}
            );
        }

         function getActivitiesFromService()
        {
            var servId = document.getElementById("serviceId").innerText;
            Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.SCVRemoting.getActivitesByServiceId}',
                servId,
                function(result, event){
                    if (event.status){
                        var l = result.length;
                        if(l==0)
                        {
                            document.getElementById("serviceActivities").innerHTML='<p>No Activities Found!</p>';
                        }
                        else{
                                   document.getElementById("serviceActivities").innerHTML='<p>serviceActivities</p>';
                            var markup ='<table id="records2">';
                            markup += '<h6>SCV Activities</h6><tr><th>Name</th><th>Outcome</th><th id=ServiceIdHeader>Service Id</th><th>DateTime</th></tr>';
                            for(var i=0; i<l;i++)
                            {

                                var recordDetail = '<tr>' +
                                    "<td>" +result[i].Name + "</td>" +
                                    "<td>" + result[i].Outcome__c + "</td>" +
                                    "<td id=serviceId>" + result[i].Id + "</td>" +
                                    "<td>" + result[i].DateTime__c + "</td>" +
                                    '</tr>';
                                markup += recordDetail;
                            }
                            document.getElementById("serviceActivities").innerHTML = markup;
                        }
                    }
                    else if (event.type === 'exception') {
                        document.getElementById("serviceActivities").innerHTML = event.message + "<br/>\n<pre>" + event.where + "</pre>";
                    }
                    else{
                        document.getElementById("details").innerHTML = event.message;
                    }
                },
                {escape: true}
            );
        }

                 function getServiceFromServiceId()
        {
            var servId = document.getElementById("serviceId").innerText;
            Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.SCVRemoting.getServicesById}',
                servId,
                function(result, event){
                    if (event.status){
                        var l = result.length;
                        if(l==0)
                        {
                            document.getElementById("serviceFromServices").innerHTML='<p>No Activities Found!</p>';
                        }
                        else{
                                   document.getElementById("serviceFromServices").innerHTML='<p>serviceFromServices</p>';
                            var markup ='<table id="records3">';
                            markup += '<h6>SCV Activities</h6><tr><th>Name</th><th>Outcome</th><th>Service Id</th><th>DateTime</th></tr>';
                            for(var i=0; i<l;i++)
                            {

                                var recordDetail = '<tr>' +
                                    "<td>" +result[i].Name + "</td>" +
                                    "<td>" + result[i].Outcome__c + "</td>" +
                                    "<td>" + result[i].Id + "</td>" +
                                    "<td>" + result[i].DateTime__c + "</td>" +
                                    '</tr>';
                                markup += recordDetail;
                            }
                            document.getElementById("serviceFromServices").innerHTML = markup;
                        }
                    }
                    else if (event.type === 'exception') {
                        document.getElementById("serviceFromServices").innerHTML = event.message + "<br/>\n<pre>" + event.where + "</pre>";
                    }
                    else{
                        document.getElementById("details").innerHTML = event.message;
                    }
                },
                {escape: true}
            );
        }
</script>



<div ng-app="MyApp">


    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <form id="searchBar">
            <div>Search Contact:</div>
            <input type="text" id="firstName" placeholder="First Name..." />
            <input type="text" id="lastName" placeholder="Last Name..." />
            <input type="submit" value="Find" id="btnSearch" onclick="getRecordsDetails(); closeNav();" />
        </form>

    </div>

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">


        <div class="allTables">
            <div id="details"> <span onclick="openNav()" style="color:black;font-weight:bold"> Click me to search for a Contact... </span></div>
            <div id="serviceDetails" ></div>
            <div id="serviceActivities" ></div>
            <div id="serviceFromServices" ></div>
        </div>

    </div> <!-- #End of Main -->
</div> <!-- #End of MyApp -->
</body>
</html>
